:root {
  /* Scrollbar */
  --primary-scrollbar: #000000;
  --secondary-scrollbar: rgba(255, 255, 255, 0.5);
  --tertiary-scrollbar: rgba(255, 255, 255, 0.3);
  /* Scrollbar END */
}

*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #b1b1b1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

main {
  flex-grow: 1;
}

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-scrollbar) var(--primary-scrollbar);
}

*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: var(--primary-scrollbar);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-scrollbar);
  border-radius: 14px;
  border: 3px solid var(--primary-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary-scrollbar);
}
/* Scrollbar END */

.content-wrap {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

/* Loader */

.loading {
  height: 100%;
  text-align: center;
  padding: 50px;
  font-size: 48px;
  font-weight: 500;

  animation: loading 1500ms infinite;
}

@keyframes loading {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

/* Loader END */

/* Not found */
.not-found-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  padding: 40px;

  color: #fff;
  font-size: 38px;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../public/images/404/404.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Not found END */
